/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* MY DASHBOARD GRID LAYOUT */
.main-container {
    display: grid;
    height: 100vh;
    max-width: 100%;
    grid-auto-flow: row;
    grid-template-columns:  1fr 3.5fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header header"
        "sidebar contents right-sidebar";
        & > .header {
            grid-area: header;
            background-color: white;
        }
        & > .sidebar {
            grid-area: sidebar;
            background-color: rgb(255, 150, 150);
        }
        & > .contents {
            grid-area: contents;
            background-color: rgb(204, 204, 204);
            padding: 15px;
        }
        & > .right-sidebar {
            grid-area: right-sidebar;
            background-color: rgb(255, 241, 162);
        }
}
 

